In [23]:
#importing liberaries
import pandas as pd
import talib
import pynance as pn
import matplotlib.pyplot as plt
import yfinance as yf
import plotly.express as px

In [18]:
# Load and Prepare the Data
stock_data = pd.read_csv('../data/all_stock_data1.csv')  # Assuming you have a CSV file named 'stock_data.csv'
stock_data.head()

,Date,Open,High,Low,Close,Adj Close,Volume,Symbol
0,2013-03-05,33.310001,33.310001,33.310001,33.310001,30.201914,300.0,AADR
1,2013-03-06,33.290001,33.290001,33.220001,33.220001,30.120306,300.0,AADR
2,2013-03-07,33.410000,33.410000,32.970001,33.130001,30.038700,1500.0,AADR
3,2013-03-08,33.009998,33.250000,33.009998,33.250000,30.147512,1300.0,AADR
4,2013-03-11,33.330002,33.360001,32.959999,33.060001,29.975235,1800.0,AADR

In [13]:
# Apply Analysis Indicators with TA-Lib
stock_data['SMA_20'] = talib.SMA(stock_data['Close'], timeperiod=20)
stock_data['SMA_50'] = talib.SMA(stock_data['Close'], timeperiod=50)
stock_data['RSI'] = talib.RSI(stock_data['Close'], timeperiod=14)
macd, macd_signal, _ = talib.MACD(stock_data['Close'], fastperiod=12, slowperiod=26, signalperiod=9)
stock_data['MACD'] = macd
stock_data['MACD_Signal'] = macd_signal
stock_data.head()

,Date,Open,High,Low,Close,Adj Close,Volume,Symbol,SMA_20,SMA_50,RSI,MACD,MACD_Signal
0,2013-03-05,33.310001,33.310001,33.310001,33.310001,30.201914,300.0,AADR,NaN,NaN,NaN,NaN,NaN
1,2013-03-06,33.290001,33.290001,33.220001,33.220001,30.120306,300.0,AADR,NaN,NaN,NaN,NaN,NaN
2,2013-03-07,33.410000,33.410000,32.970001,33.130001,30.038700,1500.0,AADR,NaN,NaN,NaN,NaN,NaN
3,2013-03-08,33.009998,33.250000,33.009998,33.250000,30.147512,1300.0,AADR,NaN,NaN,NaN,NaN,NaN
4,2013-03-11,33.330002,33.360001,32.959999,33.060001,29.975235,1800.0,AADR,NaN,NaN,NaN,NaN,NaN

In [14]:
#Use PyNance for Financial Metrics
stock_symbol = 'AAPL'  # Example stock symbol
# Fetch financial metrics using PyNance
financial_metrics = pn.get_metrics(stock_symbol)
print(financial_metrics)

AttributeError: module 'pynance' has no attribute 'get_metrics'